#container {
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 200px;
        
        padding: 10px 150px 150px 10px;
        
        border radius: 15px;
        background-color: #000032;
        
        text-align: left;
        text-color: #FFFFFF;
        
    }
  
#pictureframe


h1{
  text-color: WHITE;
  }

body{  
      text-color: #FFFFFF
}
