
  
#container{
        witdth: 1200px;
        margin: 40px auto 60px;
}

body { 
       font: Roboto, Sans-Serif;
       background: url(FullSizeRender.jpg);
       color: #FFFFFF
}

h1{
  font-size: 200;     
  color: #FFFFFF;
  }

h2{
        font-size: 40;
        color: #FFFFFF;        
}

#name {
        margin: 20px;
        padding: 20px;
        font-size: 200;
        font-weight: bold;
        font-style: italic;
      
}

#pic {
        float: right;
      
}


#info {
        font-size: 14;
        font-style: italic;
        line-height: 0.1;
        border-bottom: 1px solid #FFF;
}
       
           

