#container {
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 200px;
        
        padding: 10px 150px 150px 10px;
        
        border radius: 15px;
        background-color: #000032;
        
        text-align: left;
        color: #FFFFFF;
        
    }
  
#pictureframe{
        witdth: 800px;
        margin: 40px auto 60px;
}

body { 
       font: 20px Arial, Sans-Serif;
       background: url(FullSizeRender.jpg);
       color: #FFFFFF
}

h1{
  font-size: 200;     
  color: #FFFFFF;
  }

h2{
        font-size: 40;
        color: #FFFFFF;        
}

#name {
        margin: 20px;
        padding: 20px;
        font-size: 100;
        font-weight: bold;
        font-style: italic;
        border-bottom: 1px solid #FFF;
}

#pic {
        float: right;
      
}


#info {
        font-size: 14;
        font-style: italic;
        margin: 20px;
        padding: 20px;
        line-height: 0.1;
}
       
           

